//@import "compass" 

//COLORS
$primary-color: #000;  // black
$primary-b: 	#FFF;  // white
$secondary-a:   #ff2b06;  // TED red
$secondary-b:   #999;  //gray
$secondary-c:   #d42001;  // TED red dark
 
//FONTS
$primary-font: 'Helvetica', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

// Font weights

body {
	  font-family: $primary-font;
    background-image: url('../images/header_bkg.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment:fixed;
    margin:0;
}
@media #{$small-only} {
  body {
     background-size: 100% auto;
     -webkit-background-size: 100% auto;
     -moz-background-size: 100% auto;
     -o-background-size: 100% auto;
     background-attachment: scroll;
  }
}

h1,h2 {margin:0; font-family: $secondary-font;}
h2 { font-size: 2em; font-weight:400; }
h3 { font-size: 1.3rem; font-family: $secondary-font; }

hr { margin: 0.5rem 0 0.5rem; }

table tr td { font-size: 0.8rem; } 

a, a:visited { color: $secondary-a; }
a:hover { color: $secondary-c; }

article h1 {
	font-family: $secondary-font;
  font-weight: 400;
	font-size: 2.2em;
	color: $secondary-a;
	margin: 20px 0 0;
}

.sidebar {
    padding-top: 20px;
}
.sidebar h1 {
  font-size: 2.2em;
}

.page-content, .entry-content, .entry-summary {
	margin: 0 0 0 0;
}

#main {
	background: #FFF;
	padding: 10px;
	z-index: 5500;
}

.newsitem {
    border: 1px solid #000;
    width: 100%;
    height: 10em;
    background-size: cover;
    background-position: center center;
}

#latest-news {
    background-color: #000;
    color: #FFF;
    padding-top: 20px;
    margin: 0 auto 20px;
    max-width: 1200px;
}
#latest-news h2 a {
      color: #FFF;
    } 

.left-off-canvas-toggle {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #bd7f38;
  color: #ffffff;
  font-size: 18px;
  background: #f0c38b;
  padding: 0 0 0 10px;
  text-decoration: none;
  width: 70px; 
  margin-left: 15px;
}

a.button {
  background-color: $secondary-a;
  color: $primary-b;
  padding: 0.65rem 2rem 0.65rem;
  font-family: $secondary-font;
}
a.button:hover {
  background-color: $secondary-c;
  }

.flex-video { padding-top: 0; padding-bottom: 56%; }

.sidebar { padding-top:35px;}

.sidebar h3 {
  color: $secondary-a;
}
input[type="submit"] {
    border: none; 
    border-radius: 2px;
    background: $secondary-a;
    box-shadow: none;
    /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05); */
    color: #FFF;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: $secondary-font;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: none;
}
input[type="submit"]:hover {
  box-shadow: none;
  background-color: $secondary-c;
}

figure {
  margin: 1em 0;
}
.wp-caption .wp-caption-text {
 margin: 0; 
 text-align: left;
 font-size: .8em;
 font-family: $secondary-font;
}

/* homepage calls to action */
.cut-in {
  padding: 0;
}
.cut-in p {
  margin-bottom:0;
}
.cut-in a {
  margin-bottom:0;
}
.cut-in .title {
  text-align: left;
  padding-top: 5px;
  font-family: $secondary-font;
  font-size: 1.4em;
  font-weight: 700;
  color: $secondary-a;
  border-bottom: 1px solid $secondary-a;
}
.cut-in .desc {
  font-size: 0.8rem;
  padding: 10px 0;
}

.cut-in .form .gform_wrapper {
  margin: 0;
}
.cut-in .form .gform_wrapper .top_label .gfield_label, .cut-in .form .ginput_complex label {
  display: none; 
}
.cut-in .form input[type=text], .cut-in .form input[type=email] {
  margin: 0;
  font-size: 0.9rem;
}
.cut-in .form .gform_wrapper .gform_footer {
  margin:0;
  padding: .6em 0 .625em;
}
.cut-in .form .gform_wrapper .top_label input.large {
  width: 100%;
}
.cut-in .form .gform_wrapper .gform_footer input[type=submit], .cut-in .form .gform_wrapper .ginput_complex input[type=text] {
  width: 100%;
}
.cut-in #input_7_1_6 {
  margin-right: 0;
}

.avatar img {
  border: 2px solid $secondary-a;
  border-radius: 50%; 
} 

.avatar img.social-icon {
  border: 0;
  border-radius: 0; 
  margin: 5px 6px;
  max-width: 44px;
} 

#speaker-info .avatar { text-align: center; }

#speaker-info {
  margin-top: 20px;
}

.tabs { margin-top: 25px; }

.tabs li:not(:last-child) {
    border-right: none;
}
.tabs li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid rgba(40,44,42,0.1);
}
.tabs li.active {
    border-top: 3px solid $secondary-a;
    border-bottom: none;
}

.tabs-content>.content {
  padding: 15px;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  } 

  .embed-container iframe,
  .embed-container object,
  .embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
