
footer {
	background-color: rgba(0,0,0,0.8);
	padding: 10px;
	margin-bottom: 30px;
}

footer.entry-footer {
	background-color: #FFF;
}

footer.site-footer p {
	color: #FFF;
	font-size: 0.8em;
}

footer h3 {
	color: $secondary-a;
}

footer.site-footer .nondescript-link {
	color: #FFF;
}
footer.site-footer .nondescript-link:hover {
	text-decoration: underline;
} 

footer .gform_wrapper .top_label .gfield_label, footer .gform_wrapper .ginput_complex label {
	display:none;
}

