
.home #masthead {
	height: 410px;
}
#masthead {
	height: 155px;
}
@media #{$small-only} {
  .home #masthead {
     height: 200px;
  }
}
.site-header {background-color: rgba(0,0,0,0.8);}
.site-branding {
	max-width: 380px;
}

.event-info { color: $secondary-b; }
@media #{$medium-up} {
	.event-info {
		 margin-top: 13px;
	}
}
.event-info div { margin: 0 0 0 10px; line-height: 1.1em;}


.main-cta {margin-top:12px;}

.socialicon img { margin-left: 8px; cursor: pointer; cursor: hand;}
a.left-off-canvas-toggle {
	background-color: $secondary-a;
	color: #FFF;
	margin-left: 10px;
	text-shadow: 1px 1px 1px #888;
}
a.left-off-canvas-toggle:hover {
	background-color: $secondary-c;
}
.top-bar .button { top:10px; }
a.button {padding: .65rem 1rem;}
a.button:focus {background-color: $secondary-a;}

.top-bar-section ul li {
    background: none;
}
.top-bar-section>ul>.divider, .top-bar-section>ul>[role=separator] {
	border: 0;
}
.top-bar-section ul li a {
	font-family: $secondary-font;
	font-size: 1em;
	font-weight: 300;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 0.8rem;
}
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
	font-weight: 300;
	font-size: 0.9rem;
}
.top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button):hover {
	color: $secondary-a;
}

.top-bar-section li.active:not(.has-form) a:not(.button),.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	color: $secondary-a;
	background: none;
	font-weight: 400;
}
.top-bar-section .dropdown li.active:not(.has-form) a:not(.button),.top-bar-section .dropdown li.active:not(.has-form) a:not(.button):hover {
	background: #333;
	font-weight: 400;
	color: $secondary-a;
	font-size: 0.9rem;
}
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) { font-weight: 300;}

.fixed.stickynav {
	background-color: rgba(0,0,0,0.8);
    padding-left: 30px;
}

.left-off-canvas-menu {padding-top: 20px; font-family: $secondary-font;}
.left-off-canvas-menu ul { }
.left-off-canvas-menu ul li a { color: #FFF; }
.left-off-canvas-menu ul li a:hover { color: $secondary-a; }